@font-face {
    font-family: 'bebas';
    src: url('./assets/BebasNeue-Regular.ttf');
    font-weight: 900;
    font-style: bold;
}





*{
    padding: 0;
    margin: 0;
    font-family: 'bebas';
}


.header{
    min-height: 100vh;
    background: linear-gradient(170deg, #00b2ca 75%, white 25%);
    
}

.header-left{
    float: left;
    margin-left: 10rem;
    margin-top: 5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: relative;
    /* background-color: black; */
    width: 32%;
    
}

.profile{
    width: 100%;
    min-width: 250px;
    display: block;
}

.name{
    color: white;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-30%);
    font-size: 6vw;
    width: 100%;
    font-weight: 100;
}

.header-right h2{
    color: #000500;
}
.header-right{
    background-color: white;
    color: #8d9499;
    margin-top: 15%;
    font-size: 2.5vw;
    margin-left: calc(10rem + 32%);
    margin-right: 10rem;
    padding: 5rem 2rem 1rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.icons-container{
    margin-left: auto;
    max-width: 50%;
}
.icons{
    display: flex;
    list-style: none;
    gap:4%;
    justify-content: flex-end;
    color: #000500
}





.projects{
    margin-top: 5%;
    font-size: 2.5vw;
    padding: 2% 5% 8% 5%;
}

.projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    
    grid-gap: 2em;
    margin-top: 2%;
    /* row-gap: 6.667%; */
}

.project-card{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 65vh;
    
}

.top{
    height: 60%;
    background-color: #593f62;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f2e8cf;
    font-size: 3rem;
}

.details{    
    padding:2%  10% ;
    height: 40%;
}

.details-title{
    display: flex;
    font-weight: 100;
    justify-content: space-between;
    align-items: flex-end;
}

.details-text{
    margin-top: 10%;
    font-size:x-large;
    color: #8d9499;
}

.icons-list{
    flex: 1;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 10%;
}

.icons-list > li{
    line-height: 0;
}


footer{
    background-color: #00b2ca;
    padding:5% 10%;
    display: flex;
    color: #f2e8cf;
}
.footer-heading{
    font-size: 4rem;
}

.footer-left{
    flex:2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;
    margin-right: 20%;
    justify-content: center;

}
.footer-right{
    flex: 4;
}



.footer-icons{
    display: flex;
    list-style: none;
    gap:4rem;
    color: #000500;
    font-size: 4rem;
}
.footer-img{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.footer-connect-icons{
    fill: #f2e8cf; 
    height:2.5rem;
    transform: translateY(30%);
    padding-right: 0.6rem;
}